/*
  Copyright 2008,2009,2010 Alun Williams
  This file is part of MAF.
  MAF is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MAF is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with MAF.  If not, see <http://www.gnu.org/licenses/>.
*/


/*
$Log: fsacartesian.rc $
Revision 1.2  2010/04/10 19:25:27Z  Alun
title and internal name changed
Revision 1.1  2008/10/10 08:00:20Z  Alun_Williams
New file.
*/


#define INTERNALNAME "fsacompose"
#define FILEDESCR    "MAF: FSA Cartesian product utility"
#define PRODNAME     "MAF"

#include "mafver.rc"
1 icon maf.ico
